@import url('app.css');

@font-face {
    font-family: "Cascadia Code PL";
    src: url('fonts/CascadiaCodePL.woff2');
}

@font-face {
    font-family: "Cascadia Mono PL";
    src: url('fonts/CascadiaMonoPL.woff2');
}

html, body {
    font-family: 'Cascadia Code PL';
}

/* Helper */
.horizontal-rule-light {
    display:inline-block;
    border-bottom: thick white solid;
    height:1em;
}

.horizontal-rule-dark {
    border-bottom: thick black solid;
}


/* Unicode Rendering */
.UTable {
    border: black thin solid;
}

    .UTable td {
        border: gray thin dashed;
    }

.UTable-Title {
    font-size: x-large;
    font-weight: bold;
    display: inline-block;
}

.UTable-RowTitle {
    min-width: 3em;
    font-size: 1.5em;
    text-align: center;
    display: inline-block;
}

.UTable-ColumnTitle {
    font-size: 1.5em;
    text-align: center;
    min-width: 3em;
    display: inline-block;
}

.UData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UCode {
    margin-top: 1em;
    text-align: center;
}

.ULetter {
    font-size: 2em;
    text-align: center;
    font-family: 'Cascadia Mono PL';
}

.UName {
    font-size: .8em;
}
