@page "/"
@inject UnicodeCharacterDatabase unicodeCharacterDatabase
<h3>Welcome</h3>
<p>
    Updated for the release of .NET 6.
</p>
@code { 
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await unicodeCharacterDatabase.LoadDataAsync();
        }
    }

}