<h3>Search</h3>
<form>
    <div class="form-group">
        <label for="searchName">Search Name</label>
        <input type="text" class="form-control" id="searchName" placeholder="partial text" @bind="@SearchName" />
    </div>
    <div class="form-group">
        <label for="searchCharacter">Search Character</label>
        <input type="text" class="form-control" id="searchCharacter" placeholder="paste symbol, ex: λ" @bind="@SearchCharacter" />
    </div>
    <button @onclick="SearchUnicodeDatabase" @onclick:preventDefault>Search</button>
    <div class="horizontal-rule-dark"></div>
    <div>@Message</div>
    <div style="flex-flow:row;flex-wrap:wrap;">
        @foreach (var unicodeCharacter in UnicodeCharacterList)
        {
            <div style="display:inline-block;max-width:5em;">
                <CodePoint Code="@unicodeCharacter.CodePoint" ShowUnicodeName="true"></CodePoint>
            </div>
        }
    </div>
</form>
