@page "/testunicode"
@inject UnicodeCharacterDatabase db
<h3>Test Unicode</h3>
<div style="width:15em;">
    <CodePoint Code="0x2563"/>
</div>
<div style="width:15em;">
    <CodePoint Code="0x2564" ShowUnicodeName="false" />
</div>
<div>
    <CodePointTable StartCode="0x250" ColumnCount="8" Title="Box Drawing" ShowUnicodeName="false"/>
</div>
<div style="width:20em;">
    <CodePointTable StartCode="0x258" ColumnCount="2" Title="Box Elements" ShowUnicodeName="true" />
</div>


@code {
    [Parameter]
    public string Value { get; set; } = "";

    protected override void OnInitialized() {
        Value = db[0x2563].Character;
        base.OnInitialized();
    }
}
